body {
	font: normal 12px tahoma;
}












/*.slider {*/
	/*position: relative;*/
	/*height: 710px;*/
    /*width: 10px;*/
	/*background: #00f;*/


/*}*/

.slider {
	position: relative;
	/*width: 800px;*/
    height: 100px;
	background: #00f;


}


.handler {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 100px;
	background: #f00;
}

.ticks{

	width: 110%;
}

.tick {
	display: block;
	float: left;
}
